form action='rsg' method='post'
  p
    label for='steam_id' http://steamcommunity.com/id/
    input#steam_id type='text' name='steam_id'
    input type='submit'
  p
    a href='http://steamcommunity.com/my' target='_blank' Feeling lost?
    |  Want a 
    a href='http://steamcommunity.com/my/edit' target='_blank' fancy URL?
