h1 You should play...

.game
  a href="steam://run/#{@game[:appID]}" title="Play #{@game[:name]} now!"
    img.logo src="#{@game[:logo]}"
  h2.name = @game[:name]
  p.playtime = playtime(@game[:hoursLast2Weeks], @game[:hoursOnRecord])
  ul
    li: a.button href="steam://run/#{@game[:appID]}" Play now!
    li: a.button href="/id/#{params[:steam_id]}" Pick another one
  ul
    li: a.button href="#{@game[:storeLink]}" Store Page
    - if @game[:statsLink]
      li: a.button href="#{@game[:statsLink]}" = "#{params[:steam_id]}'s Achievements"
    - if @game[:globalStatsLink]
      li: a.button href="#{@game[:globalStatsLink]}" Global Stats
  ul
    li: a href='/' &larr; Back